@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
   --primary-color: #d63031;
   --secondary-color: #636e72;
   --blakk-color: #1b1a1ad8;
   --blakk-color2:#1b1a1ae3;
   --font: 'Poppins', sans-serif;
}
.btn{
   padding: .6rem .8rem;
   text-transform: uppercase;
   font-family: var(--font);
   background: var(--primary-color);
   color: white;
   font-size: 16px;
   text-decoration: none;
   outline: none;
   border: 2px solid var(--primary-color);
   transition: .3s;
   cursor: pointer; 
}
.btn:hover{
   background: transparent;
}
body{
   background: black;
   font-family: var(--font);
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: all .2s linear;
}

nav{
   position:fixed;
   width: 100vw;
   height: 60px;
   border-top: .5rem solid var(--primary-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 2;
}

.nav_links {
   transition: 0.2s;
}

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 55px;
   width: 15%;
   font-weight: 700;
   background: var(--primary-color);
}
.logo::before{
   content: "M&M";
   color: white;
}
.logo::after{
   content: "Gym";
   color: black;
}
ul{
   display: flex;
   align-items: center;
   height: 60px;
}
ul a{
   text-decoration: none;
   color: white;
   margin: 0 2rem;
   text-transform: uppercase;
   font-family: var(--font);
   font-weight: 700;
   font-size: 17px;
}
ul li{
   list-style: none;

}
ul a:hover{
   color: var(--primary-color)

}
.banner{
   background: url('edzes.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 150vh;

   
}
.intro{
   position: absolute;
   top: 30%;
   
   color: white;
}
.intro h2,p{
   display: block;
}

#fotext{
    width: 56%;
    
 }
 .intro h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
 }
 .intro .btn{
    margin-top: 2rem;
 }
 
 .row{
    display: flex;
    justify-content: center;
 }
 .card{
    text-align: center;
    padding: 1%;

    border-radius: 70px  ; 
    
 }
 .card p{
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;

    
 
 }
 .card h2{
    text-transform: uppercase;
 }
 
 .ikon{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: black;
    padding: 1%;
    
 }
 footer{
    position: relative;
    width: 100%;
    background-color: black;
    min-height: 100px;
    padding: 20px 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
 }
 
 footer .ikon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
 }
 
 footer .ikon li{
    list-style: none;
 }
 
 footer .ikon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
 }
 footer .ikon li a:hover{
    transform: translateY(-10px);
 
 }
 
 .ikonok{
    margin-left: 1%;
    margin-right: 1%;
 }
 
 
 ::-webkit-scrollbar {
    width: 10px;
 }
 
 ::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
 
 }
 
 ::-webkit-scrollbar-thumb {
    background: rgb(223, 37, 37);
    border-radius: 5px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
    background: rgb(223, 37, 37);
 }
 #Copy{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 13px;
    background-color: black;
 
 }


 

 h2.a{
   text-align: center;


 }

 img.b{
    width: 70%;
    border-radius: 35px 70px;
   

 }

 img.c{
   width: 75%;
   border-radius: 35px 70px;
  

}

img.d{
  
   width: 43.5%;
   border-radius: 35px 70px;

}


h1.a{
   text-align: center;
   margin-right: 5%;
    font-size: 50px;
   padding: 10px;
   text-transform: uppercase;
   color: white;
   background-color: var(--blakk-color2) ;
   border-radius: 10px;
   width: 33.3%;
   margin: auto;
   margin-left: 625px;
  }

hr{
  border:3px solid white ;
  width: 33%;
  margin: auto;
  margin-left:629.5px;
  border-radius: 10px;
}

#igazítás{
    margin-right: 100px;
    
}


p.a{

   text-align: center;
   width: 80%;
  


}

p.b{

   text-align: center;
   width: 80%;
   margin-top: 50px;


}


